.wrapper { 
    display: flex;
    flex-direction: column;
}

.side { 
    display: flex;
    flex-direction: column;
}

.orderbookrow { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}